.nav-link:hover{
    background: cornflowerblue;

}

.bg-blue{
    background-image: url("../images/background_blue.png");
}

.margin-l-16{
    margin-left: 16px;
}

.upper-border-black{
    border-top: 2px solid black;
}

.lower-border-black{
    border-bottom: 2px solid black;
}

.black-font{
    color: black;
}

.navbar-font{
    font-size: large;
    color: lightgray;
}

.navbar-toggler-icon{
    content: "";
}

.btn-login{
    height: 35px;
    width: 60px;
    border-radius: 10px;
    border: none;
    margin-right: 15px;
    background: lightgray;
}

.btn-login:hover{
    border: 1px solid lightgray;
    background: cornflowerblue;
    color: white;
}

div .bar {
  margin: 10px 0px 10px 0px;
  padding-left: 0px;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

div .bar li {
  margin: 10px 0px 10px 0px;
  display: inline-block;
  width: inherit;
}

div .bar li a {
  color: royalblue;
  text-align: center;
  width: 45px;
  height: 45px;
  line-height: 36px;
  display: inline-block;
  font-size: 36px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

div .bar li a i {
    width: 100%;
    height: 100%;
}


div .bar li a:hover {
  color: black;
}




footer {
  background-color: blue;
  padding-top: 10px;

}

footer .block1{
    width: 50%;
    display: inline;
}

footer .block2{
    padding: 0;
    float: right;
    display: inline;
    width: 50%;

}

footer .social {
  margin-top: 30px;
  padding-top: 10px;
  overflow: hidden;
  text-align: right;
  float: right;
  width: 100%;
}

footer .social li {
  margin: 0px 5px;
  display: inline-block;
}



footer .social li a {
  background-color: #ccc;
  color: royalblue;
  text-align: center;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}


footer .social li a:hover {
  background-color: lightblue;
  color: #fff;
}


footer .copyright{
  margin-left: 30px;
  text-align: left;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 60%;
  color: #fff;
  letter-spacing: 0.88px;
  text-transform: uppercase;
  border-right: 1px solid lightgray;
}

